@import url("../styles/textbox.css");
@import url("../styles/button.css");

body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(193, 226, 255);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
}

#main_area{
    width: 60%;
    max-width: 500px;
    border: 1px solid rgb(58, 163, 255);
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}

#main_area header{
    font-size: 20px;
    text-align: center;
}
#main_area #actionButtonArea{
    display: flex;
    justify-content: end;
}
#main_area article{
    margin: 5px 0px;
}
.input_form .lineItems{
    margin:10px;
}
.details_table .lineItems{
    display: flex;
    flex-direction: row ;
    margin: 0px;
    width: 100%;
}
.details_table .lineItems>div{
    padding: 10px;
    border-bottom: 1px solid gray;
    flex-grow: 1;
}
.details_table .lineItems>div:first-child{
    width: 30%;
    background-color: lightgray;
    flex-grow: 0;
}
#address_cont{
    margin: 10px 5px;
}
#address_cont .address{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

#address_cont .address .address_field{
    font-weight: bold;
}

#address_cont .address .remove_addressBtn_cont{
    display: flex;
    justify-content: end;
}
.noAddessDiv{
    display: flex;
    justify-content: center;
    color:gray;
    font-style:italic
}
#addAddress_cont{
    display: flex;
    justify-content: center;
}

#footRightLink{
    float: right;
}
#orderHistory_sec{
    padding: 20px 10px 5px 0px;
}
.thanksBox{
    padding: 10px;
    background-color: green;
    color: white;
    text-align: center;
}

#order_history_disp{
    margin: 10px;

}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
th,td{
    padding: 5px;
}
