body{
    padding:0px;
    margin:0px;
}

#searchBar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchWrapper{
    border:1px solid red;
    display: flex;
    justify-content: space-between;
    width:60%;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.3);
}
#searchText{
    padding: 5px 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchItemBox{
    width:40%;
    flex-grow: 1;
    border: none;
    outline: none;
}
#searchButton{
    padding: 5px 20px;
    border-radius: 100px;
    border: none;
    background-color: #008045;
    color: white;
}
#searchButton:hover{
    background-color: #00af5e;
    cursor: pointer;
}
#productDisplayArea{
    width:70%;
    font-family: sans-serif;
}
.product_item{
    background-color: rgba(0,0,0,0.05);
    margin:25px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
}
.product_item:hover{
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
    cursor: pointer;
}
.product_item .product_title{
    font-size: 25px;
}

.product_item .product_image{
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
}
.product_item  .product_rest{
    margin:5px;
    position: relative;
    width: 75%;
}

.product_item .product_description{
    font-size: 15px;
}

.product_item .product_cliclables{
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.addToCartButton{
    border: 1px solid #e6ae27;
    background: linear-gradient(to bottom, #ffffd3, #ffd100, orange);
    padding: 5px;
    border-radius: 5px;
}

.addToCartButton:hover{
    background: linear-gradient(to bottom, #ffffd3, #ffe46a, #fcc052);
    cursor: pointer;
}
.addToCartButton:active{
    box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.2);
}

#cart{
    float: right;
    border-left: 2px solid darkgray;
    width: 25%;
    background-color: rgba(0,0,0,0.1);
}
#cart header{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px dashed gray;
}
.cartItem{
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed gray;
    padding: 5px;
}

.cartItem .cartNotInteractable{
    width:60%;
}
.cartItem .cartInteractable{
    display: flex;
    flex-direction: row;
}
.cartItem .qtyDisplay{
    width: 40px;
    height:20px;
    text-align: center;
}

.cartItem .removeButton, .cartItem .addButton{
    width: 25px;
    height: 25px;
}
.cartItem .cartItemTitle{
    font-size: 16px;
}
.cartItem .cartItemPrice{
    font-size: 14px;
}

#totalDisplay{
    padding: 5px;
    font-size: 18px;
}
#totalCartValue{
    font-size: 22px;
    font-weight: bold;
}

#page_header{
    display: flex;
    font-size: 22px;
    padding: 20px;
    background-color: #004280;
    color: white;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
#my_account_name{
    margin-left: auto;
    margin-right: 10px;
}
#my_account_name a{
    color: white;
    padding: 10px;
    border: 1px dashed white;
    text-decoration: none;
    font-size: 20px;
}
#checkoutBtnCont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#checkOutBtn{
    border: 2px solid #e6ae27;
    background: linear-gradient(to bottom, #ffffd3, #ffd100, orange);
    padding: 10px 50px;
    border-radius: 50px;
    
}
#checkOutBtn:hover{
    background: linear-gradient(to bottom, #ffffd3, #ffe46a, #fcc052);
    cursor: pointer;
}
#checkOutBtn:active{
    box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.2);
}